
<ion-content no-bounce padding class="background_image">
  <ion-grid class="gap">
    <ion-row>
      <ion-col col-8 style="padding: 0;">
        <!-- <h3 class="metting_date">Meeting Room: {{roomName}}<br>{{date}} {{myDate}} &nbsp; {{time}}</h3> -->
      </ion-col>
      <ion-col col-4>
	<img (click)="openAuth()" class="logo_dubai" src="assets/imgs/logo.jpg" >
      </ion-col>
    </ion-row>
  </ion-grid>
	<ion-grid>
			<h3 class="metting_date">Meeting Room: {{roomName}}<br>{{date}} {{myDate}} &nbsp; {{time}}</h3>
	  <ion-row>
	  	<!--<ion-col col-1></ion-col>-->
	    <ion-col col-12 class="inner_box">

	    	<!--<ion-list>-->
			  <!--<ion-item>-->
			    <!--<ion-label>09:00 AM - 09:30 AM</ion-label>-->
			    <!--<ion-select [(ngModel)]="timeSlot1">-->
			      <!--<ion-option *ngFor="let copart of coparts;" value={{copart.coparts_name}} [selected]="copart.coparts_name == copart1">{{copart.coparts_name}}</ion-option>-->
			    <!--</ion-select>-->
			  <!--</ion-item>-->
			<!--&lt;!&ndash;</ion-list>&ndash;&gt;-->

			<!--&lt;!&ndash;<ion-list>&ndash;&gt;-->
			  <!--<ion-item>-->
			    <!--<ion-label>09:30 AM - 10:00 AM</ion-label>-->
			    <!--<ion-select [(ngModel)]="timeSlot2"  >-->
            <!--<ion-option *ngFor="let copart of coparts;"  value={{copart.coparts_name}} [selected]="copart.coparts_name == copart2">{{copart.coparts_name}}</ion-option>-->
			    <!--</ion-select>-->
			  <!--</ion-item>-->
			<!--</ion-list>-->

			<!--<ion-list>-->

        <ion-item>
<!--          <ion-label>09:30 AM - 10:00 AM</ion-label>-->
          <ion-input [(ngModel)]="timeFrame2" type="text" placeholder="Time Frame 1"></ion-input>
          <ion-input [(ngModel)]="copart2" placeholder="Name" type="text"></ion-input>

<!--          <ion-select [(ngModel)]="timeSlot2"  >-->
<!--            <ion-option value=undefined> - </ion-option>-->
<!--            <ion-option *ngFor="let copart of coparts;"  value={{copart.coparts_name}} [selected]="copart.coparts_name == copart2">{{copart.coparts_name}}</ion-option>-->
<!--          </ion-select>-->
        </ion-item>

			  <ion-item>
          <ion-input [(ngModel)]="timeFrame3" type="text" placeholder="Time Frame 2"></ion-input>
          <ion-input [(ngModel)]="copart3" type="text" placeholder="Name"></ion-input>

			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame4" type="text" placeholder="Time Frame 3"></ion-input>
          <ion-input [(ngModel)]="copart4" type="text" placeholder="Name"></ion-input>

			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame5" type="text" placeholder="Time Frame 5"></ion-input>
          <ion-input [(ngModel)]="copart5" type="text" placeholder="Name"></ion-input>

			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame6" type="text" placeholder="Time Frame 6"></ion-input>
          <ion-input [(ngModel)]="copart6" type="text" placeholder="Name"></ion-input>
			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame7" type="text" placeholder="Time Frame 7"></ion-input>
          <ion-input [(ngModel)]="copart7" type="text" placeholder="Name"></ion-input>
			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame8" type="text" placeholder="Time Frame 8"></ion-input>
          <ion-input [(ngModel)]="copart8" type="text" placeholder="Name"></ion-input>
			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame9" type="text" placeholder="Time Frame 9"></ion-input>
          <ion-input [(ngModel)]="copart9" type="text" placeholder="Name"></ion-input>
			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame10" type="text" placeholder="Time Frame 10"></ion-input>
          <ion-input [(ngModel)]="copart10" type="text" placeholder="Name"></ion-input>
			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame11" type="text" placeholder="Time Frame 11"></ion-input>
          <ion-input [(ngModel)]="copart11" type="text" placeholder="Name"></ion-input>
			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame12" type="text" placeholder="Time Frame 12"></ion-input>
          <ion-input [(ngModel)]="copart12" type="text" placeholder="Name"></ion-input>
			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame13" type="text" placeholder="Time Frame 13"></ion-input>
          <ion-input [(ngModel)]="copart13" type="text" placeholder="Name"></ion-input>
			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame14" type="text" placeholder="Time Frame 14"></ion-input>
          <ion-input [(ngModel)]="copart14" type="text" placeholder="Name"></ion-input>
			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame15" type="text" placeholder="Time Frame 15"></ion-input>

          <ion-input [(ngModel)]="copart15" type="text" placeholder="Name"></ion-input>
			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame16" type="text" placeholder="Time Frame 16"></ion-input>
          <ion-input [(ngModel)]="copart16" type="text" placeholder="Name"></ion-input>
			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame17" type="text" placeholder="Time Frame 17"></ion-input>
          <ion-input [(ngModel)]="copart17" type="text" placeholder="Name"></ion-input>
			  </ion-item>
			<!--</ion-list>-->

			<!--<ion-list>-->
			  <ion-item>
          <ion-input [(ngModel)]="timeFrame18" type="text" placeholder="Time Frame 18"></ion-input>
          <ion-input [(ngModel)]="copart18" type="text" placeholder="Name"></ion-input>
			  </ion-item>

        <!--<ion-item>-->
          <!--<ion-label>Toppings</ion-label>-->
          <!--<ion-select [(ngModel)]="toppings" cancelText="Nah" okText="Okay!">-->
            <!--<ion-option value="bacon" >Bacon</ion-option>-->
            <!--<ion-option value="olives">Black Olives</ion-option>-->
            <!--<ion-option value="xcheese" selected="true">Extra Cheese</ion-option>-->
            <!--<ion-option value="peppers">Green Peppers</ion-option>-->
            <!--<ion-option value="mushrooms">Mushrooms</ion-option>-->
            <!--<ion-option value="onions">Onions</ion-option>-->
            <!--<ion-option value="pepperoni">Pepperoni</ion-option>-->
            <!--<ion-option value="pineapple">Pineapple</ion-option>-->
            <!--<ion-option value="sausage">Sausage</ion-option>-->
            <!--<ion-option value="Spinach">Spinach</ion-option>-->
          <!--</ion-select>-->
        <!--</ion-item>-->
			<!--</ion-list>-->

	    </ion-col>
	    <!--<ion-col col-1></ion-col>-->
	  </ion-row>
	</ion-grid>

	<div ion-button class="button_submit" (click)="presentConfirm()"><img src="assets/imgs/submit.png" alt=""></div>

</ion-content>
