<!--
  Generated template for the PreviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div no-bounce padding class="background_image">

  <!-- <h3 class="metting_date">Meeting Room: {{roomName}}<br>{{date}} {{myDate}} &nbsp; {{time}}</h3> -->

  <img (click)="openAuth()" class="logo_dubai" src="assets/imgs/logo.jpg">
  <ion-grid >
      <h3 class="metting_date">Meeting Room: {{roomName}}<br>{{date}} {{myDate}} &nbsp; {{time}}</h3>
    <ion-row>
      <!--<ion-col col-1></ion-col>-->
      <ion-col col-12 class="inner_box">


            <!--<ion-item >-->
              <!--<ion-label>09:00 - 09:30</ion-label>-->
              <!--<ion-label *ngIf="!dropDown1">{{timeSlot1}}</ion-label>-->
              <!--<ion-select style="text-align: left;padding-left: 15px!important;" (ngModelChange)="presentConfirm('slot1')"  *ngIf="dropDown1" [(ngModel)]="timeSlot1"  >-->
                <!--<ion-option  *ngFor="let copart of coparts;"  value={{copart.coparts_name}}>{{copart.coparts_name}}</ion-option>-->
              <!--</ion-select>-->
            <!--</ion-item>-->

          <ion-item >
            <ion-label>{{timeFrame2}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown2">{{timeSlot2}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame3}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown3">{{timeSlot3}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame4}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown4">{{timeSlot4}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame5}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown5">{{timeSlot5}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame6}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown6">{{timeSlot6}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame7}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown7">{{timeSlot7}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame8}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown8">{{timeSlot8}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame9}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown9">{{timeSlot9}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame10}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown10">{{timeSlot10}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame11}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown11">{{timeSlot11}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame12}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown12">{{timeSlot12}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame13}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown13">{{timeSlot13}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame14}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown14">{{timeSlot14}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame15}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown15">{{timeSlot15}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame16}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown16">{{timeSlot16}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame17}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown17">{{timeSlot17}}</ion-label>

          </ion-item>

          <ion-item >
            <ion-label>{{timeFrame18}}</ion-label>
            <ion-label class="bold" *ngIf="!dropDown18">{{timeSlot18}}</ion-label>

          </ion-item>
      </ion-col>
      <!--<ion-col col-1></ion-col>-->
    </ion-row>
  </ion-grid>

</div>
